
header h1{
    margin: 0px;
    color: rgb(24, 62, 164);
}
body{ margin: 0px;
    background-color: lightblue;
    font-size: 20px;
}
header{
    background-color:lightskyblue;
    height:100vh;
    font-family: monospace;
    font-size: larger;
    font-weight: 300;
}
.button{
    height: 40px;
   border-radius: 40px;
    border: 1px;
    width: 120px;
    cursor: pointer;
    font-size: medium;
    background-color: gainsboro;
}
.button:hover{
    color: aliceblue;
    background-color: blue;
}
img{
    height: 200px;

}
main{
    padding: 10px;

}
section{
    height: 100vh;
    border: 2px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
}
h1{
    color: blue;
    font-size: 3rem;
}

input{
    background-color: gainsboro;
}
footer{
    color: aliceblue;
    background-color: black;
    
}
.TOP{
    bottom:0;
    right: 10px;
    position: fixed;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
    color: bisque;
    background-color:black;
}